/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: auto;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(0, 183, 255, 0.527), rgba(240, 140, 190, 0.452));
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#game-board, #reveal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 530px;
}
.title {
    font-size: 50px;
    margin-top: 20px;
    padding: 20px;
    width: 530px;
}
.card {
    width: 95px;
    height: 120px;
    border: 1px solid #000;
    margin: 5px;
    text-align: center;
    font-size: 220%;
    line-height: 100px;
    cursor: pointer;
}
.number {
    width: 47px;
    height: 47px;
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.word, .tried-letters {
    width: 100%; /* Adjust as needed */
    font-size: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

input {
    font-size: 50px;
}